* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins";
}
.container {
    background-image: url(../images/Oval.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
}
.main {
    width: 85%;
    height: 5000px;
}
.btn-blue {
    background-color: #432b99;
    font-size: 0.7rem;
    width: 150px;
    padding: 11px 0px;
}
.btn-blue:hover {
    background-color: #835dd6;
}
.text-blue{
    color: #432b99;
}
.text-darkblue{
    color: #112548;
} 
.bg-blue {
 background-color: #432b99;
}

/******** navbar ********/
.menu-item {
    font-size: 0.75rem;
    padding: 5px;
}
.sign-in , .sign-up {
    width: 85px;
}
.sign-in:hover {
    background-color: #835dd6;
}
/************************************************/

/******** introduce ********/
.introduce .image .play {
    width: 17%;
    transition: all 0.3s;
}
.introduce .image .play:hover {
    width: 20%;
    transition: all 0.3s;
    cursor: pointer;
}
/************************************************/

/******** options ********/
.options .option .icon {
    border: 2px solid #432b99;
    border-radius: 15%;
    width: 30%;
    height: 65px;
}
.options .option .icon img{
    width: 100%;
}
.options .option span {
    font-size: 1.3rem;
}
/************************************************/

/******** learn ********/
.leran {
    background: linear-gradient(0deg, #eae8f5, #ffffff);
    border-radius: 0 0 100% 100% / 30%;
}
/************************************************/

/******** testimonial ********/
.testimonial .avatar {
    width: 100px;
}
/************************************************/

/******** gallery ********/
.gallery img {
 width: 105%;
}
/************************************************/

